@using Microsoft.AspNet.Identity
@if (User.Identity.IsAuthenticated)
{

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(User.Identity.Name, "Index", "Home")</li>
        <li>@Html.ActionLink("Sair", "Logout", "Autenticacao")</li>
    </ul>

}

else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Entrar", "Login", "Autenticacao")</li>
    </ul>
}
