<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://helpfiap.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>helpfiap.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>helpfiap</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$helpfiap</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="sacEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:kqpefk2lkc.database.windows.net,1433;Initial Catalog=sac;User ID=medical@kqpefk2lkc;Password=Pracima01;Application Name=EntityFramework" Name="Data Source=tcp:kqpefk2lkc.database.windows.net,1433;Initial Catalog=sac;User ID=medical@kqpefk2lkc;Password=Pracima01;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Sac.Models.sacEntities, Sac" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:kqpefk2lkc.database.windows.net,1433;Initial Catalog=sac;User ID=medical@kqpefk2lkc;Password=Pracima01;Application Name=EntityFramework" Name="Data Source=tcp:kqpefk2lkc.database.windows.net,1433;Initial Catalog=sac;User ID=medical@kqpefk2lkc;Password=Pracima01;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:kqpefk2lkc.database.windows.net,1433;Initial Catalog=sac;Persist Security Info=False;User ID=medical@kqpefk2lkc;Password=Pracima01;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:kqpefk2lkc.database.windows.net,1433;Initial Catalog=sac;Persist Security Info=False;User ID=medical@kqpefk2lkc;Password=Pracima01;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:kqpefk2lkc.database.windows.net,1433;Initial Catalog=sac;User ID=medical@kqpefk2lkc;Password=Pracima01;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)sacEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:kqpefk2lkc.database.windows.net,1433;Initial Catalog=sac;User ID=medical@kqpefk2lkc;Password=Pracima01;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>